h5 {
    font-family: "ProximaNova ExtraBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 800;
}

h3 {
    font-family: "ProximaNova ExtraBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 800;
}

#titulo1 {
    text-align: center;
    font-size: 32px;

}

.marcas {
    text-align: center;
}

.marcas img {
    text-align: center;
    margin: 30px;
}

#titulo2 {
    text-align: center;
    font-size: 32px;
}

.desplegable {
    font-size: 20px;
    text-align: center;
}

.desplegable p {
    margin: 0 30%;
    text-align: justify;
}

.desplegable h5 {
    font-size: 20px;
    font-family: "ProximaNova ExtraBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    ;
}

.contenedores {
    display: flex;
    justify-content: space-between;
    margin: 0 30%;
}

.contenedores :hover {
    background-color: #e6e6e6;
}

.texto-izquieda {
    margin: 0 30%;
    text-align: left;
}

.texto-izquieda div :hover {
    background-color: #e6e6e6;
}

#prefooter {
    padding: 2% 0;
    text-align: center;
    height: 200px;
    background-color: #0b1736;
}

#prefooter h3 {
    font-size: 38px;
    color: white;
}

#boton {
    background-color: #2a5bd7;
    color: white;
    padding: 18px 30px;
    border-radius: 6px;
}